services:
  portainer:
    image: portainer/portainer-ce:alpine-sts
    container_name: portainer-ce
    #restart: always
    ports:
      - "8000:8000"
      - "9443:9443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer_data:/data

networks:
  proxy:
    external: true
