services:
  gitea:
    image: docker.gitea.com/gitea:1.25.2
    container_name: gitea
    restart: unless-stopped
    hostname: gitea.localhost
    environment:
      USER_UID: 1000
      USER_GID: 1000
      GITEA__server__DOMAIN: gitea.localhost
      GITEA__server__ROOT_URL: http://gitea.localhost
      GITEA__server__SSH_DOMAIN: gitea.localhost
      GITEA__server__SSH_PORT: 2222
      GITEA__webhook__ALLOWED_HOST_LIST: jenkins-controller,jenkins-controller:8080,172.22.0.0/16
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "2222:22"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitea.rule=Host(`gitea.localhost`)"
      - "traefik.http.routers.gitea.entrypoints=web"
      - "traefik.http.services.gitea.loadbalancer.server.port=3000"
    networks:
      - proxy

networks:
  proxy:
    external: true
