services:
  gitea:
    image: docker.gitea.com/gitea:1.25.2
    container_name: gitea
    restart: unless-stopped
    hostname: gitea.local
    environment:
      USER_UID: 1000
      USER_GID: 1000
      GITEA__server__DOMAIN: gitea.local
      GITEA__server__ROOT_URL: http://gitea.local:3000
      GITEA__server__SSH_DOMAIN: gitea.local
      GITEA__server__SSH_PORT: 2222
      GITEA__webhook__ALLOWED_HOST_LIST: jenkins-controller,jenkins-controller:8080,172.22.0.0/16
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "2222:22"
    networks:
      - proxy

networks:
  proxy:
    external: true
