apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-server
  namespace: argocd
spec:
  entryPoints:
    - web
  routes:
    # sesuaikan dengan ip node k3s
    - match: Host(`argocd.192.168.100.78.nip.io`)
      kind: Rule
      services:
        - name: argocd-server
          port: 80
